html{
    box-sizing: border-box;
    height: 100%;

}
body{
	font-family: 'Roboto-Regular', sans-serif;
    font-size: 22px;
    font-weight: 400;
    height: 100%;
    overflow-x: hidden;

}
*,
*::before,
*::after{
   box-sizing: inherit;
}
a{
    display: inline-block;
    text-decoration: none;
	color:#fff;

}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
	max-width: 1552px;
	padding: 0 15px;
	margin: 0 auto;
}
.outside-container{
	max-width: 1920px;
	padding: 0 5px;
	margin: 0 auto;

}


