@import "fonts";
@import 'vars.scss';
@import 'global.scss';

//start header


.header {
	background-color: #344555;
	min-height: 88px;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center !important;
		min-height: 88px;

	}

	&__menu {}

	&__menu-list {
		display: flex;
		justify-content: space-between;
		flex-direction: row;

		&:first-child {
			margin-left: 10px;
		}



		li+li {
			margin-left: 157px;
		}
	}

	&__menu-item {

		margin-top: 3px;

		a {
			font-family: Roboto;
			font-weight: 300;
		}
	}

	&__socials {}

	&__socials-list {
		display: flex;
		justify-content: space-between;

		li+li {
			margin-left: 40px;
		}


	}

	&__socials-list-item {
		border: 1px solid #EEB7A2;
		width: 40px;
		height: 40px;
		background-color: #fff;
		border-radius: 50%;
	}
}

//finish header

//start first Screen

.mainInformation {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}

.mainInformation-wrapper {
	max-width: 600px;
}

.mainInformation-title {
	font-family: OpenSans;
	font-weight: 400;
	font-size: 26px;
	color: #536879;
	margin-left: 10px;
}

.mainInformation-name {
	font-family: PlayfairDisplay;
	font-weight: 400;
	font-size: 64px;
	color: #435462;
	margin-top: 0px;
	margin-bottom: 13px;
}

.mainInformation-experience {
	margin-top: 6px;
	margin-left: 10px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 23px;
	color: #726D6D;

	span {
		font-family: PlayfairDisplay;
		font-weight: 500;
		font-size: 23px;
		color: #435462;
	}
}

.mainInformation-inner {
	position: relative;
	margin-right: 5px;
}

.mainInformation-decorationLine {
	height: 137px;
	width: 4px;
	background-color: #E7E7E7;
	position: absolute;
	margin-right: 20px;
}

.mainInformation-quote {
	margin-top: 22px;
	margin-left: 20px;
	font-family: PlayfairDisplay;
	font-weight: 500;
	font-size: 23px;
	color: #435462;
}

.mainInformation-author {
	font-family: Roboto;
	font-style: italic;
	font-weight: 500;
	margin-left: auto;
	color: #435462;
	text-align: end;
	margin-right: 25px;
	margin-top: 30px;
}

.mainInformation-aboutMe {
	margin-top: 125px;
	width: 245px;
	height: 50px;
	color: #536879;
	font-family: PlayfairDisplay;
	font-size: 24px;
	border: solid #EEB7A2 3px;
	border-radius: 30px 30px;
	text-align: center;
	font-weight: 700;
	padding-top: 2px;
	position: relative;

	&::before {
		content: '';
		background-image: url(../img/bird.png);

		@include bgi;
		height: 86px;
		width: 84px;
		position: absolute;
		bottom: 40px;
		left: 0px;
	}
}

//finish first Screen

//start Articals


.articals {
	&-wave {
		background-image: url(../img/wave.png);
		height: 340px;
	}

	background: #FFF;

	&__category {
		position: relative;
		max-width: 565px;
		background-color: #344555;
		padding-top: 60px;
		padding-bottom: 60px;
		padding-right: 20px;
		border-radius: 0px 20px 19px 0px;
		font-family: PlayfairDisplay;
		font-weight: 700;
		min-height: 1100px;

		&-verticalText {
			writing-mode: vertical-rl;
			top: 50px;
			font-family: PlayfairDisplay;
			font-weight: 700;
			font-size: 150px;
			opacity: 6%;
			position: absolute;
			color: #FFFFFF;
			transform: rotate(180deg);
			left: -20px;
			letter-spacing: 15px;
		}
	}


	&__category-title {
		color: #fff;
		font-size: PlayfairDisplay;
		font-size: 36px;
		font-weight: 700;
		padding-bottom: 35px;
		padding-left: 190px;


	}

	&__category-list {
		padding-left: 190px;
		font-family: Roboto;
		font-weight: 500;

	}

	&__category-name {
		a {
			color: #fff;
			font-size: Roboto;
			font-size: 22px;
			font-weight: 500;
			margin-top: 15px;
		}
	}

	&__category-artical {
		margin-top: 15px;
		position: relative;

		a {
			color: #C5C5C5;
			font-size: Roboto;
			font-size: 14px;
			font-weight: 400;
			margin-left: 18px;
		}

		&::before {
			content: '_';
			position: absolute;
			left: 0;
			top: -13px;
			color: #fff;
			width: 10%;

		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		background: #FFEFE1;

	}




	&__filtres {

		width: 930px;
		min-height: 210px;
		background-color: #D6D8D9;
		border-radius: 19px;

		&__inner {}
	}

	&__content {
		margin-top: 120px;
	}

	&__item {
		width: 365px;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}

	&__item-preview {
		height: 312px;
		width: 100%;
		background-image: url(../img/Content/Content1.jpg);
		border-radius: 19px 19px 0px 0px;
		background-position: center center;
		background-repeat: no-repeat;
	}
	&__item-wrapper{
		height: 272px;
		 background-color: #fff;
		 border-radius: 0 0 19px 19px;
		 padding-left: 22px;
	}

	&__item-title {
		font-family: Roboto;
		font-weight: 300;
		font-size: 17px;
		padding-top: 18px;
	}
	
	&__item__inner{
		
		margin-top: 18px;
		
	}
	&__item-description {
		font-family: Roboto;
		font-weight: 400;
		font-size: 22px;
	}

	&__item-btn {
		width: 201px;
		height: 41px;
		color: #435462;
		border: solid #EEB7A2 1px;
		border-radius: 19px;
		text-align: center;
		padding-top: 3px;
		font-family: PlayfairDisplay;
		font-weight: 700;
		font-size: 18px;
		margin-left: 18px;
		position: absolute;
		bottom: 24px;
	}

}