@import "fonts";
@import 'vars.scss';
@import 'global.scss';

//start header


.header {
	background-color: #344555;
	min-height: 88px;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center !important;
		min-height: 88px;

	}

	&__menu {}

	&__menu-list {
		display: flex;
		justify-content: space-between;
		flex-direction: row;


		li+li {
			margin-left: 157px;
		}
	}

	&__menu-item {

		margin-top: 3px;

		a {
			font-family: Roboto;
			font-weight: 300;
		}
	}

	&__socials {}

	&__socials-list {
		display: flex;
		justify-content: space-between;

		li+li {
			margin-left: 40px;
		}


	}

	&__socials-list-item {
		border: 1px solid #EEB7A2;
		width: 40px;
		height: 40px;
		background-color: #fff;
		border-radius: 50%;
	}
}

//finish header

//start first Window
.firstWindow {}

.mainInformation {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;

}

.mainInformation-wrapper {

	max-width: 600px;
}

.mainInformation-title {
	font-family: OpenSans;
	font-weight: 400;
	font-size: 26px;
	color: #536879;
}

.mainInformation-name {
	font-family: PlayfairDisplay;
	font-weight: 400;
	font-size: 64px;
	color:#435462;
}

.mainInformation-experience {
	font-family: Roboto;
	font-weight: 400;
	font-size: 23px;
	color: #726D6D;

	span {
		font-family: PlayfairDisplay;
		font-weight: 500;
		font-size: 23px;
		color:#435462;
	}
}

.emainInformation-quote {
	font-family: PlayfairDisplay;
	font-weight: 500;
	font-size: 23px;
	color: #435462;
}

.emainInformation-author {
	font-family: Roboto;
	font-style: italic;
	font-weight: 500;
	margin-left: auto;
	color: #435462;
	text-align: end;

}

.mainInformation-aboutMe {}